# **Data Cleaning**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/customer_shopping_behavior.csv')

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [6]:
# change column style
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [7]:
# change column name
df.rename(columns={
    'item_purchased': 'item',
    'purchase_amount_(usd)': 'amount',
    'review_rating': 'rating',
    'discount_applied': 'discount_used',
    'previous_purchases': 'total_orders',
    'frequency_of_purchases': 'order_frequency'
}, inplace=True)

In [8]:
# check wheather its useful or not
df.groupby('subscription_status')[['amount', 'total_orders', 'rating']].mean()

                        amount  total_orders    rating
subscription_status
No                   59.865121     25.080436  3.751025
Yes                  59.491928     26.084520  3.747435

In [9]:
# drop subscription_status column
df.drop('subscription_status', axis=1, inplace=True)

In [11]:
print(df['promo_code_used'].value_counts())
print(df['discount_used'].value_counts())

# both giving same values so we will take one of them

promo_code_used
No     2223
Yes    1677
Name: count, dtype: int64
discount_used
No     2223
Yes    1677
Name: count, dtype: int64

In [12]:
# drop promo code used column
df.drop('promo_code_used', axis=1, inplace=True)

In [13]:
# check data type of column
nc = ['category', 'season', 'shipping_type', 'order_frequency']
df[nc] = df[nc].astype('category')

In [14]:
# payment method also be in categorical type
df['payment_method'] = df['payment_method'].astype('category')

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'item', 'category', 'amount',
       'location', 'size', 'color', 'season', 'rating', 'shipping_type',
       'discount_used', 'total_orders', 'payment_method', 'order_frequency'],
      dtype='object')

In [16]:
df.isnull().sum()
#review rating has missing values = 37

customer_id         0
age                 0
gender              0
item                0
category            0
amount              0
location            0
size                0
color               0
season              0
rating             37
shipping_type       0
discount_used       0
total_orders        0
payment_method      0
order_frequency     0
dtype: int64

In [17]:
# filled missing values with respective category mean
df['rating'] = df.groupby('category')['rating'].transform(lambda x: x.fillna(x.mean()))

/tmp/ipython-input-2813715929.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['rating'] = df.groupby('category')['rating'].transform(lambda x: x.fillna(x.mean()))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      3900 non-null   int64
 1   age              3900 non-null   int64
 2   gender           3900 non-null   object
 3   item             3900 non-null   object
 4   category         3900 non-null   category
 5   amount           3900 non-null   int64
 6   location         3900 non-null   object
 7   size             3900 non-null   object
 8   color            3900 non-null   object
 9   season           3900 non-null   category
 10  rating           3900 non-null   float64
 11  shipping_type    3900 non-null   category
 12  discount_used    3900 non-null   object
 13  total_orders     3900 non-null   int64
 14  payment_method   3900 non-null   category
 15  order_frequency  3900 non-null   category
dtypes: category(5), float64(1), int64(4), object(6)
memory usage: 355.5+ KB

In [19]:
df['item'].value_counts()

# jeans pants same
# sneakers boots same

item
Blouse        171
Pants         171
Jewelry       171
Shirt         169
Dress         166
Sweater       164
Jacket        163
Coat          161
Sunglasses    161
Belt          161
Sandals       160
Socks         159
Skirt         158
Scarf         157
Shorts        157
Hat           154
Handbag       153
Hoodie        151
Shoes         150
T-shirt       147
Sneakers      145
Boots         144
Backpack      143
Gloves        140
Jeans         124
Name: count, dtype: int64

In [20]:
# merge jeans into pants by replacing name
df['item'] = df['item'].replace({'Jeans': 'Pants'})

In [22]:
df['order_frequency'].value_counts()

# every 3 month and quarterly are same
# bi-weekly and fortnightly are same

order_frequency
Every 3 Months    584
Annually          572
Quarterly         563
Monthly           553
Bi-Weekly         547
Fortnightly       542
Weekly            539
Name: count, dtype: int64

In [24]:
df['order_frequency'] = df['order_frequency'].replace({'Every 3 Months': 'Quarterly','Bi-Weekly': 'Fortnightly'})

/tmp/ipython-input-335401928.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['order_frequency'] = df['order_frequency'].replace({'Every 3 Months': 'Quarterly','Bi-Weekly': 'Fortnightly'})

In [25]:
df['order_frequency'].value_counts()

order_frequency
Quarterly      1147
Fortnightly    1089
Annually        572
Monthly         553
Weekly          539
Name: count, dtype: int64

In [26]:
df.head()

,customer_id,age,gender,item,category,amount,location,size,color,season,rating,shipping_type,discount_used,total_orders,payment_method,order_frequency
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Express,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Express,Yes,2,Cash,Fortnightly
2,3,50,Male,Pants,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Free Shipping,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Next Day Air,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Free Shipping,Yes,31,PayPal,Annually

In [27]:
df.to_csv('cleaned_df.csv',index=False)